<h1>KelloggCoin Ledger</h1>
<h2> List of Transactions </h2>

<% transactions = Transaction.all %>
<% for record in transactions %>
<%     from_user = User.find_by({"id" => record["from_user_id"]}) %>
<%     to_user = User.find_by({"id"=> record["to_user_id"]})%>
<%     amount = record["amount"] %> 
<%     transaction_number = record["id"]  %>    
<%     if from_user != nil %>
<ol>      Transaction # <%= transaction_number %>: <%= amount %> From <%= from_user["name"] %> to <%= to_user["name"]%>      </ol>  
      <% else %>
<ol>      Initial coin offering: <%=amount%> to <%= to_user["name"]%>  </ol>    
      <% end %>
<% end %>

<!-- Step 2: Calculate and display the balances -->

<h2>Kellogg Coin Balances</h2>

<!-- Obtain all the users we are going to do this for from the database-->

<% users = User.all%>
<% balances = [] %>

<% for user in users %>
<%    money_in = 0 %>
<%    money_out = 0 %>
<%    balance = 0 %>
<%    for record in transactions %>
<%       from_user = User.find_by({"id"=> record["from_user_id"]}) %>
<%       to_user = User.find_by({"id"=> record["to_user_id"]}) %>
<%       amount = record["amount"]  %>
<%       if from_user != nil && from_user["name"] == user["name"]  %>
<%           money_out -= amount %>
<%       elsif to_user["name"] == user["name"] && from_user != nil %>
<%           money_in += amount %>
<%       end%>  
<%    end%>
<% balance = money_in - money_out%>
<p> <%=user["name"] %> balance is <%= balance %></p>
<% end %>

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->